/* Global */

:root {
	--pink: #f8daea;
	--hot-pink: #fe65ce;
	--turq: #97f0e8;
	--purple: #ad78d1;
	--dk-purple: #34296a;
	font-family: sans-serif;
	/* font-family: Franxurter Totally (fat and regular) */
}

body {
	display: grid;
	gap: 20px;
	justify-items: center;
}

#wrapper {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr;
	max-width: 1440px;
	width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sr-only {
	opacity: 0;
	position: absolute;
	pointer-events: none;
}


/* Selected Pins Section */

#tag-wrapper {
	padding: 10px;
	max-width: 100%;
	min-height: 400px;
}

#tag-wrapper .tag {
	display: grid;
	place-items: center;
	max-height: 0px;
	overflow: hidden;
	margin-bottom: 0px;
	transition: max-height .2s ease-out, margin .1s ease-in;
}

#tag-wrapper .tag.palsItem {
	position: absolute;
	opacity: 0;
}

#tag-wrapper .tag.selected {
	margin-top: 0;
	margin-bottom: 6px;
	max-height: 550px;
	opacity: 100%;
	position: relative;
	transition: max-height .3s;
	visibility: visible;
}

#tag-wrapper .tag img {
	width: 100%;
	max-width: 800px;
}

#tag-wrapper .tag.palsItem img {
	width: 75%;
	max-width: 600px;
}

#tag-wrapper .tag.palsItem img[src*="cat-bottom.png"],
#tag-wrapper .tag.palsItem img[src*="opossum-bottom.png"] {
	width: 100%;
	max-width: none;
}

#tag-wrapper .tag.plaque img {
	width: 80%;
}

#nothing-selected {
	font-size: 30px;
}


/* Accordian Selector UI */

#accordion {
	width: 100%;
	color: var(--dk-purple);
	font-size: 20px;
}

#accordion button {
    outline: none;
    background: var(--purple);
    padding: 16px;   
    border:none;
    border-bottom: 1px solid darkslategrey;
	width: 100%;
	font-size: 20px;
    text-align:left;
    border-radius:0px;
}

#accordion button:hover, #accordion button:focus {
	background-color: var(--dk-purple);
	color: white;
	cursor: pointer;
}

#accordion button:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

#accordion button[aria-expanded='true']:after {
	content: "\2212";
}

#accordion .input-group {
	display: grid;
	transition: max-height 0.3s ease-in-out;
	background-color: var(--pink);
	max-height: 0px;
	overflow: hidden;
	padding: 0 10px;
}

#accordion .input-group.open {
	max-height: 700px;
	padding: 10px
}

#accordion .checkbox-wrapper {
	display: none;
}

#accordion .open .checkbox-wrapper {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	gap: 10px;
	padding: 10px;
	cursor: pointer;
}

#accordion .checkbox-wrapper input {
	cursor:pointer;
}

@media screen and (min-width: 748px) {
	main {
		grid-template-columns: 1fr 1fr;
	}
	#tag-wrapper, #accordion {
		max-width: 700px;
		margin: 0 auto;
	}
}